<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/style.css">
  <title>{{ title }}</title>
</head>
<body>
  <h1>{{ title }}</h1>
  <a class="back" href="index.php">Назад</a>
  <div class="img">
    <img class="img-full" src="{{ image_src }}/{{ images }}" alt="photo">
  </div>
  <a class="back" href="index.php">Назад</a>
</body>
</html>